{% extends 'base.html' %}

<!-- include the js files needed for this page -->
{% block page_script %}
    <!-- TODO: Include JavaScript files necessary for this page -->
{% endblock %}

<!-- define the title for this visualizaiton page -->
{% block vis_title %}
    <!-- TODO: Insert HTML for the title of this page -->
{% endblock %}

<!-- this page uses a dimension bar, define it here -->
{% block dimension_bar %}
    <!-- TODO: Include a dimension bar here if you want one -->
{% endblock %}

<!-- container for the actual visualization here -->
{% block vis %}
    <!-- TODO: Include the container for your visualization -->
{% endblock %}

